

<div class="ibox-content form-horizontal m-t">
  <div class="form-group">
    <%= form_for(@delive,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
        <div class="form-group">
          <label class="col-sm-3 control-label">快递名称：</label>
          <div class="col-sm-5">
            <%= f.text_field :delive,class:"form-control" %>
          </div>
        </div>
         <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-5 text-right">
            <%= f.submit '确定',class: "btn btn-w-m btn-primary " %>&nbsp;<%= link_to "返回",delives_url,class: "btn btn-w-m btn-primary " %>
          </div>
        </div>
    <% end %>
  </div>
</div>