<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>新增买满送活动</h3>
    </div>
    <%= render 'form', giveaway: @giveaway %>
  </div>
</div>
<%=render 'layerend' %>